<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <script type="text/javascript" th:src="@{http://code.jquery.com/jquery-1.10.2.js}"/>
        <script type="text/javascript" th:src="@{/resources/js/ov.js}"/>
        <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <div id="logo">
            <img style="display:block" th:src="@{/resources/img/se-logo.png}" width="150" height="42"/> 
            <img style="display:block" th:src="@{/resources/img/so-logo.png}" width="150" height="42"/> 
        </div>
        <div style="text-align: center;">
            <h1>STACK<span style="font-weight: 900 !important;">OVERFLOW</span> OFFLINE</h1>
            <input id="suche-feld" type="text"/>
        </div>
        <div id="questions">
            
        </div>
    </body>
</html>